extends layout.pug

block title
  title=`Bloggy | ${blog.title}`

block content
  section.section-blog
    h2.h2=blog.title
    img(src=`/images/blog-cards/${blog.type}.png` alt=`An Illustration of ${blog.type} | from https://icons8.com/illustrations`)
    p.text=blog.text
    .controls
      span.detail 
        span Author: 
          span.author=` ${blog.author} `  
        span Date published: 
          span=blog.date
        if blog.edited
          i=`Edited on ${blog.editedDate}`
      .buttons
        a.btn.dark(href=`${blog.id}/update`) Update 
        a.btn.blood(href=`${blog.id}/delete`) Delete
